@include loader;

h1 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.h1 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1rem;
  line-height: 1.2rem;
  padding-bottom: 0.3rem;
}

i {
  font-size: 1.2rem;
}

.container {
  min-width: 375px;
}

.header {
  text-align: center;

  &__logo {
    padding: 0.5rem;
    padding-top: 1rem;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
  }

  &__city {
    position: relative;
    z-index: 0;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    padding: 1rem;

    & input {
      width: 160px;
      height: 20px;
      border: none;
      outline: none;
      background-color: inherit;
      text-align: center;
      font-weight: bold;
      font-size: 1rem;
      margin-left: 10px;
    }

    ::placeholder {
      color: inherit;
    }
  }

  &__slogan {
    background-color: $light-bg;
  }

  @include btn;
}

.section {
  padding: 1.25rem;

  &__card {
    display: flex;
    background-color: $light-bg;
    padding: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    border-radius: 1.5rem;
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.1);
    align-items: center;

    & i {
      margin: 0 1.4rem;
    }
  }

  &__number {
    width: 25px;
    height: 25px;
    display: flex;
    background-color: $primary-color;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: -35px;
  }

  &__icon {
    width: 4rem;
  }

  &__txt {
    font-weight: 500;
  }

  .purple {
    background-color: lighten($primary-color, 35%);

    i {
      color: $primary-color;
    }
  }
}

.main {
  background-color: $light-bg;
  padding: 1rem;

  .full {
    position: relative;
    z-index: 1;
    top: -0.7rem;
    color: $primary-color;
    display: none;
  }

  .empty {
    position: relative;
    top: 0.5rem;
    z-index: 2;
    display: flex;
  }

  &__coeur {
    height: 50px;
    margin: auto 0;
  }

  @include coeurAnim;

  &__cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__card {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 250px;
    margin-bottom: 1.25rem;
    object-fit: cover;

    img {
      height: 11rem;
      width: 100%;
      object-fit: cover;
      object-position: bottom;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
  }

  &__new {
    text-align: center;
    position: relative;
    float: right;
    width: 6rem;
    top: -10rem;
    right: 1rem;
    padding: 0.4rem;
    background-color: $tertiary-color;
    border-radius: 0.2rem;
    color: darken($tertiary-color, 45);
    font-weight: 500;
  }

  &__subt {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
  }

  &__subtNew {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    width: 100%;
    position: relative;
    top: -1.9rem;
  }

  &__txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@include footer;

@media only screen and (min-width: 400px) {
  .container {
    width: 100%;
    max-width: 800px;
  }

  .main__cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main__card {
    margin: 1rem;
    max-width: 350px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1400px;
  }

  .section__cards {
    display: flex;
    justify-content: space-between;
  }

  .section__card {
    flex: 1;
    margin: 0 2rem;
    margin-bottom: 2rem;
  }

  .main__card {
    max-width: 310px;
  }

  .footer__list {
    justify-content: space-between;
    flex-direction: row;
  }
}
