i {
  font-size: 1.4rem;
}

.container {
  min-width: 375px;
}

.header {
  position: relative;

  &__logo {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    padding-top: 1rem;
    justify-content: center;

    i {
      position: absolute;
      left: 2rem;
      top: 1.4rem;
    }
  }

  &__img {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }
}

.main {
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: $light-bg;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: -4rem;

  h1 {
    font-size: 1.7rem;
    font-family: Shrikhand;
    font-weight: 400;
  }

  h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  &__resto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1.5rem;
    margin-bottom: 2rem;
  }

  .full {
    position: absolute;
    top: 2.55rem;
    right: 2rem;
    z-index: 1;
    color: $primary-color;
    display: none;
  }

  .empty {
    position: absolute;
    top: 2.55rem;
    right: 2rem;
    z-index: 2;
    display: flex;
  }

  @include coeurAnim;

  &__bar {
    width: 40px;
    height: 3px;
    background-color: $tertiary-color;
    margin-bottom: 0.8rem;
  }

  &__cards {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  &__card {
    animation: fadeUp 0.5s ease-in;
    animation-fill-mode: backwards;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.1);
  }

  @for $i from 0 to 4 {
    .delay-#{$i} {
      animation-delay: #{$i/7};
    }
  }

  &__txt {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0.6rem;
    overflow: hidden;
  }

  &__title {
    padding-bottom: 0.4rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__desc {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__prix {
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    padding: 0.6rem;
  }

  &__check {
    background-color: $tertiary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 0rem;
    transition-duration: 0.6s;
  }

  &__icon {
    color: $tertiary-color;
    transform: rotate(-360deg);
    transition-duration: 0.5s;
  }

  .main__card:hover {
    .main__check {
      width: 4rem;
    }

    .main__icon {
      transform: rotate(0);
      color: white;
    }
  }

  @include btn;
  button {
    width: 50%;
    margin: 0 auto;
  }
}

@include footer;

@media only screen and (min-width: 400px) {
  .container {
    width: 100%;
    max-width: 800px;
  }

  .header__img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1400px;
  }

  .header__imgDiv {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .header__img {
    width: 50%;
    height: 45vh;
    border-radius: 1rem;
  }

  .main h2 {
    text-align: center;
  }

  .main__bar {
    width: 100%;
  }

  .main__choix {
    display: flex;
  }

  .main__entrees,
  .main__plats,
  .main__desserts {
    flex: 1;
    padding: 1rem;
  }

  .main__card {
    max-width: 350px;
    margin: 1rem auto;
  }

  .footer__list {
    justify-content: space-between;
    flex-direction: row;
  }
}
