@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.3;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.3;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fadeUp {
  /* scattering */
  0% {
    -webkit-transform: translateY(0.3rem);
            transform: translateY(0.3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeUp {
  /* scattering */
  0% {
    -webkit-transform: translateY(0.3rem);
            transform: translateY(0.3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: grey;
  font-family: Roboto, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

i {
  font-size: 1.4rem;
}

.container {
  min-width: 375px;
}

.header {
  position: relative;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  padding-top: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo i {
  position: absolute;
  left: 2rem;
  top: 1.4rem;
}

.header__img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: #f6f6f6;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: -4rem;
}

.main h1 {
  font-size: 1.7rem;
  font-family: Shrikhand;
  font-weight: 400;
}

.main h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
}

.main h3 {
  font-size: 1.1rem;
}

.main__resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 1.5rem;
  margin-bottom: 2rem;
}

.main .full {
  position: absolute;
  top: 2.55rem;
  right: 2rem;
  z-index: 1;
  color: #9356dc;
  display: none;
}

.main .empty {
  position: absolute;
  top: 2.55rem;
  right: 2rem;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__coeur:hover .full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn 0.3s ease-out;
          animation: fadeIn 0.3s ease-out;
}

.main__coeur:hover .empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}

.main__coeur:active .full {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: red;
  -webkit-transition: 0.01s ease;
  transition: 0.01s ease;
}

.main__coeur:active .empty {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.01s ease;
  transition: 0.01s ease;
}

.main__bar {
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  margin-bottom: 0.8rem;
}

.main__cards {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.main__card {
  -webkit-animation: fadeUp 0.5s ease-in;
          animation: fadeUp 0.5s ease-in;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.main .delay-0 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.main .delay-1 {
  -webkit-animation-delay: 0.14286s;
          animation-delay: 0.14286s;
}

.main .delay-2 {
  -webkit-animation-delay: 0.28571s;
          animation-delay: 0.28571s;
}

.main .delay-3 {
  -webkit-animation-delay: 0.42857s;
          animation-delay: 0.42857s;
}

.main__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.6rem;
  overflow: hidden;
}

.main__title {
  padding-bottom: 0.4rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main__desc {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main__prix {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0.6rem;
}

.main__check {
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 0rem;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.main__icon {
  color: #99e2d0;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.main .main__card:hover .main__check {
  width: 4rem;
}

.main .main__card:hover .main__icon {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  color: white;
}

.main button {
  margin: 2rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  color: white;
  font-weight: 500;
  -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.1);
  background: linear-gradient(-8deg, #9356dc, #ff79da);
}

.main button:hover {
  -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.3);
  background: linear-gradient(-8deg, #a16be0, #ff93e1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main button:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main button {
  width: 50%;
  margin: 0 auto;
}

.footer {
  padding: 1.5rem;
  background-color: #353535;
  line-height: 1.5rem;
  color: white;
}

.footer a {
  color: white;
}

.footer h2 {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-family: Shrikhand;
  font-weight: 400;
}

.footer i {
  margin-right: 1rem;
  font-size: 0.8rem;
}

.footer__icon {
  width: 2rem;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__list div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 400px) {
  .container {
    width: 100%;
    max-width: 800px;
  }
  .header__img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1400px;
  }
  .header__imgDiv {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__img {
    width: 50%;
    height: 45vh;
    border-radius: 1rem;
  }
  .main h2 {
    text-align: center;
  }
  .main__bar {
    width: 100%;
  }
  .main__choix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main__entrees,
  .main__plats,
  .main__desserts {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 1rem;
  }
  .main__card {
    max-width: 350px;
    margin: 1rem auto;
  }
  .footer__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=main-menu.css.map */