@media only screen and (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1400px;
  }

  .nav__cards {
    display: flex;
    justify-content: space-between;
  }

  .nav__card {
    flex: 1;
    margin: 0 2rem;
    margin-bottom: 2rem;
  }

  .main__card {
    max-width: 310px;
  }

  .footer__list {
    justify-content: space-between;
    flex-direction: row;
  }
}
