@import "__imports";

@include reset;

h1 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1rem;
  line-height: 1.2rem;
  padding-bottom: 0.3rem;
}

i {
  font-size: 1.2rem;
}

.container {
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.header {
  text-align: center;

  &__logo {
    padding: 0.5rem;
    padding-top: 1rem;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
  }

  &__city {
    position: relative;
    z-index: 0;
    background-color: #eaeaea;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 1rem;

    & i {
      position: relative;
      left: -2rem;
    }
  }

  &__slogan {
    background-color: #f6f6f6;
  }

  @include btn;
}

.nav {
  padding: 1.25rem;

  &__card {
    display: flex;
    background-color: #f6f6f6;
    padding: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    border-radius: 1.5rem;
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.1);
    align-items: center;

    & i {
      margin: 0 1.4rem;
    }
  }

  &__number {
    width: 25px;
    height: 25px;
    display: flex;
    background-color: $primary-color;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: -35px;
  }

  &__icon {
    width: 4rem;
  }

  &__txt {
    font-weight: 500;
  }

  .purple {
    background-color: lighten($primary-color, 35%);

    i {
      color: $primary-color;
    }
  }
}

.main {
  background-color: #f6f6f6;
  padding: 1rem;

  .full {
    position: relative;
    z-index: 1;
    top: -0.7rem;
    color: $primary-color;
    display: none;
  }

  .empty {
    position: relative;
    top: 0.5rem;
    z-index: 2;
    display: flex;
  }

  &__coeur {
    height: 50px;
    margin: auto 0;

    &:hover .full {
      display: flex;
      animation: fadeIn 0.3s ease-out;
    }

    &:hover .empty {
      display: flex;
    }

    &:active .full {
      transform: scale(1.2);
      color: red;
      transition: 0.01s ease;
    }

    &:active .empty {
      transform: scale(1.2);
      transition: 0.01s ease;
    }
  }

  &__cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__card {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 250px;
    margin-bottom: 1.25rem;
    object-fit: cover;

    img {
      height: 11rem;
      width: 100%;
      object-fit: cover;
      object-position: bottom;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
  }

  &__new {
    text-align: center;
    position: relative;
    float: right;
    width: 6rem;
    top: -10rem;
    right: 1rem;
    padding: 0.4rem;
    background-color: $tertiary-color;
    border-radius: 0.2rem;
    color: darken($tertiary-color, 45);
    font-weight: 500;
  }

  &__subt {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: middle;
    vertical-align: middle;
  }

  &__subtNew {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: middle;
    vertical-align: middle;
    width: 100%;
    position: relative;
    top: -1.8rem;
  }

  &__txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.footer {
  padding: 1.5rem;
  background-color: #353535;
  line-height: 1.5rem;
  color: white;

  a {
    color: white;
  }

  h2 {
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-family: Shrikhand;
    font-weight: 400;
  }

  i {
    margin-right: 1rem;
    font-size: 0.8rem;
  }

  &__icon {
    width: 2rem;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    align-items: center;
  }
}
