@import "__imports.scss";

@include reset;

@include loader;

i {
  font-size: 1.4rem;
}

.container {
  width: 375px;
  margin: 0 auto;
  background-color: white;
}

.header {
  position: relative;

  &__logo {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    padding-top: 1rem;
    justify-content: center;

    i {
      position: absolute;
      left: 2rem;
      top: 1.4rem;
    }
  }

  &__img {
    width: 375px;
    height: 280px;
    object-fit: cover;
  }
}

.main {
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: #f6f6f6;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: -4rem;

  h1 {
    font-size: 1.7rem;
    font-family: Shrikhand;
    font-weight: 400;
  }

  h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  &__resto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1.5rem;
    margin-bottom: 2rem;
  }

  .full {
    position: absolute;
    top: 2.55rem;
    right: 3rem;
    z-index: 1;
    color: #9356dc;
    display: none;
  }

  .empty {
    position: absolute;
    top: 2.55rem;
    right: 3rem;
    z-index: 2;
    display: flex;
  }

  .main__coeur {
    &:hover .full {
      display: flex;
      animation: fadeIn 0.3s ease-out;
    }

    &:hover .empty {
      display: flex;
    }

    &:active .full {
      transform: scale(1.2);
      color: red;
      transition: 0.01s ease;
    }

    &:active .empty {
      transform: scale(1.2);
      transition: 0.01s ease;
    }
  }

  &__bar {
    width: 40px;
    height: 3px;
    background-color: #99e2d0;
    margin-bottom: 0.8rem;
  }

  &__cards {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  &__card {
    animation: fadeUp 0.5s ease-in;
    animation-fill-mode: backwards;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.1);
  }

  @for $i from 0 to 4 {
    .delay-#{$i} {
      animation-delay: #{($i/7) + 3}s;
    }
  }

  /*   .delay-0 {
    animation-delay: 0s;
  }

  .delay-1 {
    animation-delay: 0.2s;
  }

  .delay-2 {
    animation-delay: 0.4s;
  }

  .delay-3 {
    animation-delay: 0.6s;
  } */

  &__txt {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0.6rem;
    overflow: hidden;
  }

  &__title {
    padding-bottom: 0.4rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__desc {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__prix {
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    padding: 0.6rem;
  }

  &__check {
    background-color: #99e2d0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 0rem;
    transition-duration: 0.6s;
  }

  &__icon {
    color: #99e2d0;
    transform: rotate(360deg);
    transition-duration: 0.5s;
  }

  .main__card:hover {
    .main__check {
      width: 4rem;
    }

    .main__icon {
      transform: rotate(0);
      color: white;
    }
  }

  @include btn;
  button {
    width: 50%;
    margin: 0 auto;
  }
}

.footer {
  padding: 1.5rem;
  background-color: #353535;
  line-height: 1.5rem;
  color: white;

  a {
    color: white;
  }

  h2 {
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-family: Shrikhand;
    font-weight: 400;
  }

  i {
    margin-right: 1rem;
    font-size: 0.8rem;
  }

  &__icon {
    width: 2rem;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    align-items: center;
  }
}
